.statement-container {
  border: .1rem solid black;
  width: 40%;
  text-align: center;
  padding: 5rem;
  font-size: x-large;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.error-statement {
  color: var(--danger);
  border-color: var(--danger);
}

.icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}
